<h1>Meteo API</h1>

<p>
    This is the public API for the Meteostation at the Kantonsschule Glarus.
    <br>If you are looking for the current data of the Meteostation, go to <a href="https://meteo.kanti-glarus.ch/" target="_blank">meteo.kanti-glarus.ch</a>.
    <br>If you are looking for some awesome JSON-outputs, you are right here!
</p>

<h2>API Access</h2>

<h3>Current Values as JSON</h3>
<h4>Links</h4>
<ul>
    <li><a href="/api/1.0/json/single/air_temperature" target="_blank">/api/1.0/json/single/temperature</a></li>
    <li><a href="/api/1.0/json/single/air_humidity" target="_blank">/api/1.0/json/single/air_humidity</a></li>
    <li><a href="/api/1.0/json/single/air_pressure" target="_blank">/api/1.0/json/single/air_pressure</a></li>

    <li><a href="/api/1.0/json/single/rainfall" target="_blank">/api/1.0/json/single/rainfall</a></li>
    <li><a href="/api/1.0/json/single/snow" target="_blank">/api/1.0/json/single/snow</a></li>

    <li><a href="/api/1.0/json/single/sunlight" target="_blank">/api/1.0/json/single/sunlight</a></li>
    <li><a href="/api/1.0/json/single/sun_uv" target="_blank">/api/1.0/json/single/sun_uv</a></li>

    <li><a href="/api/1.0/json/single/wind_speed" target="_blank">/api/1.0/json/single/wind_speed</a></li>
    <li><a href="/api/1.0/json/single/wind_speed_max" target="_blank">/api/1.0/json/single/wind_speed_max</a></li>
    <li><a href="/api/1.0/json/single/wind_direction" target="_blank">/api/1.0/json/single/wind_direction</a></li>
    <li><a href="/api/1.0/json/single/wind_deviation" target="_blank">/api/1.0/json/single/wind_deviation</a></li>
</ul>

<h4>Example</h4>
<pre>
    Request: /api/1.0/json/single/air_temperature

    Response: {
        "air_temperature": "11.1",
        "id": "86729",
        "date": "2020.10.07 20:10"
    }
</pre>

<h3>Values over time as JSON</h3>
<h4>Links</h4>

<ul>
    <li>
        <a href="/api/1.0/json/multiple?start=1601942400&stop=1602055060" target="_blank">
            /api/1.0/json/multiple?start=1601942400&stop=1602055060
        </a>
    </li>
    <li>
        <a href="/api/1.0/json/multiple?start=1601942400&stop=1602055060&delta=60" target="_blank">
            /api/1.0/json/multiple?start=1601942400&stop=1602055060&delta=60
        </a>
    </li>
</ul>

<h4>Example</h4>
<pre>
    Request: /api/1.0/json/multiple?start=1601942400&stop=1602055060&delta=60
    start: Timestamp / start of the period
    stop: Timestamp / stop of the period
    delta: time-delta of the entries in minutes
    hint: when time-entries are missing, delta jumps over it - no correction.

    Response: {
        {
            "id": "86611",
            "date": "2020.10.06 03:40",
            "air_temperature": "9.6",
            "air_humidity": "94.7",
            "air_pressure": "1013.9",
            "sunlight": "-0.7",
            "sun_uv": "0.0",
            "wind_speed": "0.4",
            "wind_speed_max": "1.3",
            "wind_direction": "331",
            "wind_deviation": "14.3",
            "rainfall": "0.0",
            "snow": "0.0"
        }, {
            "id": "86602",
            "date": "2020.10.06 02:40",
            ...
</pre>

<h3>Values over time as CSV-File</h3>
<h4>Links</h4>

<ul>
    <li>
        <a href="/api/1.0/csv/multiple.csv?start=1601942400&stop=1602055060" target="_blank">
            /api/1.0/csv/multiple.csv?start=1601942400&stop=1602055060
        </a>
    </li>
    <li>
        <a href="/api/1.0/csv/multiple.csv?start=1601942400&stop=1602055060&delta=60" target="_blank">
            /api/1.0/csv/multiple.csv?start=1601942400&stop=1602055060&delta=60
        </a>
    </li>
</ul>
